@charset "utf-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  color: #3f3d56;
}

.container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  /* 메인의 위로 올라오도록 z-index 설정 */
  z-index: 999;
}
/* 컨텐츠 영역 공통 설정 */
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
header > .con {
  height: 100px;
  display: flex;
  gap: 100px;
}
/* 로고 */
h1 {
  width: fit-content;
  height: fit-content;
  margin: 34px 0px;
}
/* 메뉴 */
#gnb {
  margin-left: auto;
  width: fit-content;
  line-height: 100px;
}
#gnb > ul {
  width: fit-content;
  display: flex;
  gap: 40px;
  text-align: center;
}
#gnb > ul > li {
  width: 90px;
}
#gnb > ul > li > a {
  font-size: 18px;
  transition: 0.5s;
  display: block;
}
#gnb > ul > li:hover > a {
  color: #f50057;
  font-weight: 600;
}
/* 2차 메뉴 */
.submenu {
  width: 100%;
  height: 0px;
  overflow: hidden;
  line-height: 60px;
  transition: 0.5s;
}
.submenu > li > a {
  transition: 0.3s;
  display: block;
  font-size: 18px;
}
.submenu > li:hover > a {
  color: #f50057;
}
/* 1차 메뉴에 마우스를 올리면 2차 메뉴 전체 보여주기 */
/* 실제로 변하는 것은 서브메뉴, 서브메뉴에 적용 */
#gnb > ul:hover .submenu {
  height: 180px;
}
/* 아이콘 */
.icons {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}
.icons > a {
  display: block;
  padding: 4px;
  font-size: 28px;
  transition: 0.5s;
}
.icons > a:hover {
  color: #f50057;
}

/* 컨텐츠 영역 */
main {
  width: 100%;
  height: auto;
}
/* 섹션 공통 설정 */
section {
  width: 100%;
  height: auto;
  /* 가로스크롤을 없애기 위한 오버플로우 히든 */
  overflow: hidden;
}

.main_visual {
  width: 100%;
  height: 850px;
  background-color: #19163c;
  position: relative;
}
.main_visual_text {
  width: 600px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-300px, -112px);
  text-align: center;
  z-index: 998;
}
.main_visual_text > h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
  color: #f50057;
  border-bottom: 2px solid #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.main_visual_text > p {
  line-height: 38px;
  font-size: 22px;
  color: #fff;
}
/* 왼쪽 이미지 */
.man {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 200px;
  animation: floating1 2.5s linear 0s infinite;
}
@keyframes floating1 {
  0% {
    top: 200px;
  }
  50% {
    top: 220px;
  }
  100% {
    top: 200px;
  }
}
.woman {
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 0px;
  top: 100px;
  animation: floating2 2.5s linear 0s infinite;
}
@keyframes floating2 {
  0% {
    top: 100px;
    right: 0px;
  }
  50% {
    top: 120px;
    right: -20px;
  }
  100% {
    top: 100px;
    right: 0px;
  }
}
/* 두번째 섹션 */
.sec2 {
  height: 800px;
  background-image: url(../img/bg_02.png), url(../img/bg_01.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.sec2 > .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .left_text {
  width: fit-content;
  height: auto;
  text-align: center;
}
.left_text h3 {
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
  line-height: 60px;
}
.left_text h3::after {
  content: "line";
  font-size: 0px;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #f50057;
  margin: 0 auto;
  margin-bottom: 20px;
}
.left_text p {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  margin-bottom: 80px;
}
.left_text p + button {
  width: 350px;
  height: 60px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  color: #fff;
  background-color: #19163c;
  transition: 0.3s;
}
.left_text p + button:hover {
  background-color: #f50057;
  cursor: pointer;
}
.right_image {
  width: 750px;
  height: auto;
}
/* 세번째 섹션 */
.sec3 {
  padding: 250px 0px;
  text-align: center;
}
.sec3 > .con > h2 {
  font-size: 47px;
  font-weight: 700;
  margin-bottom: 20px;
}
.sec3 > .con > h2 + p {
  font-size: 24px;
}
.cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}
.cards > div {
  width: 370px;
  overflow: hidden;
}
.img_area {
  width: 100%;
  height: 250px;
  position: relative;
}
.img_area img {
  position: absolute;
}
.img_area .human {
  z-index: 20;
  top: 0;
  left: 50%;
  margin-left: -100px;
  transition: 0.5s;
  opacity: 0;
}
.img_area .floor {
  bottom: 0;
}
/* 카드에 마우스를 올리면 .human이 내려옴 */
.cards > div:hover .human {
  opacity: 1;
  top: 30px;
}
.text_area {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}
.text_area h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}
.text_area p {
  line-height: 28px;
}
/* 네번째 섹션 */
.sec4 {
  background-color: #f5f5f5;
  padding: 250px 0px;
  text-align: center;
}
.sec4 > .con > h2 {
  font-size: 47px;
  font-weight: 700;
  margin-bottom: 40px;
}
.sec4 > .con > h2 + p {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 30px;
}
.app_btn {
  width: fit-content;
  height: 60px;
  margin: 0px auto;
  /* background-color: #ef8282; */
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.app_btn button {
  height: 60px;
  display: flex;
  align-items: center;
  border: none;
  color: #19163c;
  gap: 20px;
  border-radius: 100px;
  padding: 4px 64px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #d8d8d83a;
  transition: 0.5s;
  cursor: pointer;
  justify-content: center;
}
.app_btn .apple:hover {
  background-color: #19163c;
  color: #fff;
}
.app_btn .playstore:hover {
  background-color: #f50057;
  color: #fff;
}
/* 다섯번째 섹션 */
.sec5 {
  padding: 250px 0px;
}
.sec5 > .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_left h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.form_left p {
  font-size: 24px;
  line-height: 48px;
  font-weight: 200;
}
.con form {
  width: 1000px;
  height: fit-content;
  padding: 50px 80px;
  box-sizing: border-box;
  border-top: 1px solid #19163c;
  border-bottom: 1px solid #19163c;
}
.con form > div {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.con form > div > input {
  width: 83%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  color: #19163c;
  font-weight: 200;
  border: none;
  outline: none;
  padding: 0px 8px;
}
.con form > div > input:focus {
  background-color: rgb(255, 240, 244);
}
/* 질문 박스 */
.con form > div:last-child {
  position: relative;
  height: 300px;
}
.con form > div > textarea {
  width: 83%;
  height: 300px;
  outline: none;
  border: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 8px;
  font-size: 18px;
  line-height: 26px;
  color: #19163c;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.con form > div > textarea:focus {
  background-color: rgb(255, 240, 244);
}
.questions > button {
  position: absolute;
  right: 20px;
  bottom: 30px;
  border: none;
  background-color: #19163c;
  color: #fff;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.questions > button:hover {
  background-color: #f50057;
}
/* 푸터 영역 */
footer {
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  color: #999999;
  line-height: 50px;
  text-align: center;
}
